<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * di.xml
 *
 * @copyright Copyright © 2017 Staempfli AG. All rights reserved.
 * @author    juan.alonso@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Setting cronjobs -->
    <type name="Magento\Framework\Crontab\TasksProviderInterface">
        <arguments>
            <argument name="tasks" xsi:type="array">
                <item name="CUSTOM_CRON" xsi:type="array">
                    <item name="expression" xsi:type="string">0 3 * * *</item>
                    <item name="command" xsi:type="string">{magentoRoot}bin/magento custom:command</item>
                </item>
                <!--<item name="CUSTOM_CRON_CHECK_MAINTENANCE" xsi:type="array">-->
                    <!--<item name="expression" xsi:type="string">0 4 * * * test -e {magentoRoot}bin/magento &amp;&amp;</item>-->
                    <!--<item name="command" xsi:type="string">{magentoRoot}bin/magento custom:command:second</item>-->
                <!--</item>-->
            </argument>
        </arguments>
    </type>
    <!-- Patch define configuration by environment
        https://github.com/magento/magento2/pull/12361
    -->
    <preference for="Magento\Framework\Config\File\ConfigFilePool" type="VendorName\ModuleName\Config\File\ConfigFilePool"/>
    <preference for="Magento\Framework\App\DeploymentConfig\Reader" type="VendorName\ModuleName\App\DeploymentConfig\Reader"/>
    <virtualType name="CustomDeploymentConfig" type="Magento\Framework\App\DeploymentConfig"/>
    <preference for="Magento\Framework\App\DeploymentConfig" type="CustomDeploymentConfig"/>
    <type name="Magento\Deploy\Model\DeploymentConfig\DataCollector">
        <arguments>
            <argument name="deploymentConfig" xsi:type="object">CustomDeploymentConfig</argument>
        </arguments>
    </type>
    <type name="Magento\Deploy\Console\Command\App\ConfigImport\Processor">
        <arguments>
            <argument name="deploymentConfig" xsi:type="object">CustomDeploymentConfig</argument>
        </arguments>
    </type>
    <!-- Patch no dump system settings
        https://github.com/magento/magento2/pull/12410
    -->
    <virtualType name="skipDumpSystemSource" type="Magento\Config\App\Config\Source\DumpConfigSourceAggregated">
        <arguments>
            <argument name="sources" xsi:type="array">
            </argument>
            <argument name="rules" xsi:type="array">
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Deploy\Console\Command\App\ApplicationDumpCommand">
        <arguments>
            <argument name="sources" xsi:type="array">
                <item name="system" xsi:type="array">
                    <item name="source" xsi:type="object">skipDumpSystemSource</item>
                    <item name="namespace" xsi:type="string">skipSystem</item>
                    <item name="comment" xsi:type="string"></item>
                </item>
                <item name="system_env" xsi:type="array">
                    <item name="source" xsi:type="object">skipDumpSystemSource</item>
                    <item name="namespace" xsi:type="string">skipSystem</item>
                </item>
            </argument>
        </arguments>
    </type>
</config>