<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * di.xml
 *
 * @copyright Copyright © 2017 Staempfli AG. All rights reserved.
 * @author    juan.alonso@staempfli.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Crontab\TasksProviderInterface">
        <arguments>
            <argument name="tasks" xsi:type="array">
                <item name="CUSTOM_CRON" xsi:type="array">
                    <item name="expression" xsi:type="string">0 3 * * *</item>
                    <item name="command" xsi:type="string">{magentoRoot}bin/magento custom:command</item>
                </item>
                <item name="CUSTOM_CRON_CHECK_MAINTENANCE" xsi:type="array">
                    <item name="expression" xsi:type="string">0 4 * * * test -e {magentoRoot}bin/magento &amp;&amp;</item>
                    <item name="command" xsi:type="string">{magentoRoot}bin/magento custom:command:second</item>
                </item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Framework\Config\File\ConfigFilePool" type="VendorName\ModuleName\Config\File\ConfigFilePool"/>
    <virtualType name="CustomDeploymentConfig" type="Magento\Framework\App\DeploymentConfig"/>
    <type name="Magento\Deploy\Model\DeploymentConfig\DataCollector">
        <arguments>
            <argument name="deploymentConfig" xsi:type="object">CustomDeploymentConfig</argument>
        </arguments>
    </type>
    <type name="VendorName\ModuleName\Config\File\ConfigFilePool">
        <arguments>
            <argument name="additionalConfigFiles" xsi:type="array">
                <item name="custom" xsi:type="string">custom_config.php</item>
            </argument>
            <argument name="additionalSortOrder" xsi:type="array">
                <item name="custom" xsi:type="string">2</item>
            </argument>
        </arguments>
    </type>
    <!--<type name="Magento\Framework\App\DeploymentConfig\Reader">-->
        <!--<arguments>-->
            <!--<argument name="configFilePool" xsi:type="object" shared="false">VendorName\ModuleName\Config\File\ConfigFilePool</argument>-->
        <!--</arguments>-->
    <!--</type>-->
    <!--<type name="Magento\Deploy\Console\Command\App\ConfigImport\Processor">-->
        <!--<arguments>-->
            <!--<argument name="changeDetector" xsi:type="object" shared="false">Magento\Deploy\Model\DeploymentConfig\ChangeDetector</argument>-->
        <!--</arguments>-->
    <!--</type>-->
    <!--<type name="Magento\Framework\Config\File\ConfigFilePool">-->
        <!--<plugin name="addCustomConfig" type="VendorName\ModuleName\Plugin\AddCustomConfig"/>-->
    <!--</type>-->
    <!--<virtualType name="CustomConfigFilePool" type="Magento\Framework\Config\File\ConfigFilePool">-->
        <!--<arguments>-->
            <!--<argument name="additionalConfigFiles" xsi:type="array">-->
                <!--<item name="env_custom_config" xsi:type="string">custom_config.php</item>-->
            <!--</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->
    <!--<virtualType name="CustomDeploymentConfig" type="Magento\Framework\App\DeploymentConfig"/>-->
    <!--<virtualType name="CustomDataCollector" type="Magento\Deploy\Model\DeploymentConfig\DataCollector">-->
        <!--<arguments>-->
            <!--<argument name="deploymentConfig" xsi:type="object">CustomDeploymentConfig</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->
    <!--<virtualType name="CustomChangeDetector" type="Magento\Deploy\Model\DeploymentConfig\ChangeDetector">-->
        <!--<arguments>-->
            <!--<argument name="dataConfigCollector" xsi:type="object">CustomDataCollector</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->
    <!--<virtualType name="CustomProcessor" type="Magento\Deploy\Console\Command\App\ConfigImport\Processor">-->
        <!--<arguments>-->
            <!--<argument name="changeDetector" xsi:type="object">CustomChangeDetector</argument>-->
        <!--</arguments>-->
    <!--</virtualType>-->
    <!--<type name="Magento\Deploy\Console\Command\App\ConfigImportCommand">-->
        <!--<arguments>-->
            <!--<argument name="processor" xsi:type="object">CustomProcessor</argument>-->
        <!--</arguments>-->
    <!--</type>-->
</config>